body {
    margin: 0;
    background: #ffd3ac;
}

.left-box{
    width: 40%;
    background-image: url("/static/images/oisiigohan.JPG");
    background-size: cover;
}

.login-box{
    background: white;
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
}

.login-box img{
    width: 250px;
}

form{
    margin: 20px 0;
}

input{
    border: solid 1px #ff9131;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 3px;
    width: 200px;
    background: white!important;
}

.guest-login{
    color: black;
    font-size: smaller;
    display: inline-block;
}

.touroku{
    display: inline-block;
    padding: 8px 25px;
    border-radius: 10px;
    border:   solid 1px #ff9131;
    text-decoration: none;
    color: black;
}

.login{
    display: inline-block;
    padding: 8px 35px;
    margin: 25px 0 10px;
    border-radius: 10px;
    background: #ff9131;
    text-decoration: none;
    color: white;
    border: 0;
}

.touroku-container{
    border-top: solid 0.5px rgb(188, 188, 188);
    font-size: smaller;
    padding-top: 15px;
    margin-top: 25px;
}